<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-5xl p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold text-gray-900">Post New Job</h2>

    <%= form_with(model: @job, local: true, html: { class: "space-y-6" }) do |form| %>
      <div class="border-b border-gray-900/10 pb-12">
        <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

          <div class="sm:col-span-6">
            <label for="job_title" class="block text-sm font-medium leading-6 text-gray-900">Title</label>
            <div class="mt-2">
              <%= form.text_field :title, id: 'job_title', class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-6">
            <label for="job_description" class="block text-sm font-medium leading-6 text-gray-900">Description</label>
            <div class="mt-2">
              <%= form.text_area :description, id: 'job_description', rows: 10, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 resize-none" %>
            </div>
          </div>

          <div class="sm:col-span-6">
            <label for="job_application_deadline" class="block text-sm font-medium leading-6 text-gray-900">Application Deadline</label>
            <div class="mt-2">
              <%= form.datetime_local_field :application_deadline, id: 'job_application_deadline', class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

        </div>
      </div>

      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button type="button" class="text-sm font-semibold leading-6 text-gray-900 hover:text-gray-600">
          <%= link_to "Cancel", root_path, class: "no-underline" %>
        </button>
        <%= form.submit "Post Job", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    <% end %>
  </div>
</div>
