<!DOCTYPE html>
<html>
  <head>
    <title>JobBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

 <body class="flex flex-col min-h-screen">
  <%= render 'layouts/navbar' %>
  
  <main class="flex-grow">
    <%= yield %>
    <p class="notice flex justify-center text-green-600 font-semibold"><%= notice %></p>
    <p class="alert flex justify-center text-red-700 font-semibold"><%= alert %></p>
  </main>

  <%= render 'layouts/footer' %>
</body>
</html>